# Archivos de configuración locales

*/local_settings.py

# Archivos de base de datos
*.sqlite3

# Archivos estáticos y compilados
*/staticfiles/
*.pyc
*.pyo

# Directorios generados
__pycache__
*/__pycache__/
*.egg-info/
dist/
build/
*.egg-info
*.egg

# Archivos de registro
*.log

# Archivos de entorno


# Directorio de medios
*/media/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
**/node_modules

/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.vscode/

# Ignorar archivos de configuración de Node
package.json
package-lock.json
